In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

sns.set_style("darkgrid")

Now to read in our files and begin data cleaning and preprocessing.

Note we have 7 files from the competetition hosts: 
- Game Data: games.csv, the data for each game (season, date & time, location, home and visitor teams), key variable is `gameID`.
- PFF Scouting Data: PFFScoutingData.csv, "play-level scouting information for each game", key variables are `gameID` and `playID` (note `nflID` not included).
- Player Data: players.csv, information for each player (height, weight, birth, college, position, name), key variable is `nflID` (Does not include `gameID` and `playID`).
- Play Data: plays.csv, "play-level information from each game", key variables are `gameID` and `playID`.
- Tracking Data: tracking2018.csv, tracking 2019.csv, and tracking2020.csv. Each contains "player tracking data" from the indicated season, key variables are `gameID`, `nflID`, and `playID`.

In [5]:
games = pd.read_csv("/Users/elizabethgrace/Documents/coding/fall-2021 copia/NFL_Big_Data_Bowl_2022/nfl-big-data-bowl-2022/games.csv")

scout = pd.read_csv("/Users/elizabethgrace/Documents/coding/fall-2021 copia/NFL_Big_Data_Bowl_2022/nfl-big-data-bowl-2022/PFFScoutingData.csv")

players = pd.read_csv("/Users/elizabethgrace/Documents/coding/fall-2021 copia/NFL_Big_Data_Bowl_2022/nfl-big-data-bowl-2022/players.csv")

play = pd.read_csv("/Users/elizabethgrace/Documents/coding/fall-2021 copia/NFL_Big_Data_Bowl_2022/nfl-big-data-bowl-2022/plays.csv")

track18 = pd.read_csv("/Users/elizabethgrace/Documents/coding/fall-2021 copia/NFL_Big_Data_Bowl_2022/nfl-big-data-bowl-2022/tracking2018.csv")
track19 = pd.read_csv("/Users/elizabethgrace/Documents/coding/fall-2021 copia/NFL_Big_Data_Bowl_2022/nfl-big-data-bowl-2022/tracking2019.csv")
track20 = pd.read_csv("/Users/elizabethgrace/Documents/coding/fall-2021 copia/NFL_Big_Data_Bowl_2022/nfl-big-data-bowl-2022/tracking2020.csv")

In [6]:
players

,nflId,height,weight,birthDate,collegeName,Position,displayName
0,42901,6-1,208,1992-07-25,James Madison,SS,Dean Marlowe
1,43501,6-0,220,1994-08-11,Central Michigan,FS,Kavon Frazier
2,43534,6-0,205,1993-06-02,Illinois,SS,Clayton Fejedelem
3,43535,6-1,235,1992-12-22,Temple,MLB,Tyler Matakevich
4,44174,6-1,236,1993-02-22,Texas Tech,ILB,Sam Eguavoen
...,...,...,...,...,...,...,...
2727,33216,6-3,320,06/16/1986,Central Florida,G,Josh Sitton
2728,33184,6-3,265,05/02/1985,Winston-Salem State,DE,William Hayes
2729,45651,5-9,198,06/16/1993,Iowa,WR,Riley McCarron
2730,41284,73,230,1992-10-20,LSU,RB,Jeremy Hill
2731,42849,5-10,205,12/14/1992,Texas Tech,WR,Bradley Marquez

We need to standardize the height of all players. Inches will be easier to code with, so we first define a function `ft_in` to convert all heights from ft-in to inches. It also takes inches to an `int`.

In [13]:
def ft_in(x):
    if '-' in x:
        meas=x.split('-')
        #this will be a list ['ft','in']
        inches = int(meas[0])*12 + int(meas[1])
        return inches
    else:
        return int(x)

In [16]:
#test function
print(ft_in('6-0'))
print(ft_in('72'))
print(ft_in('5-10'))

72
72
70

Now that we have checked that the function works as planned, we apply it to the `height` column of our dataframe.

In [17]:
players['height'] = players['height'].apply(ft_in)

In [18]:
players['height']

0       73
1       72
2       72
3       73
4       73
        ..
2727    75
2728    75
2729    69
2730    73
2731    70
Name: height, Length: 2732, dtype: int64

In [19]:
players.isnull().sum()

nflId           0
height          0
weight          0
birthDate      17
collegeName     8
Position        0
displayName     0
dtype: int64

`birthDate` and `collegeName` have nulls, but we're not likely using those datapoints, so we will just note that for now.

Now, we turn to the tracking data. We must reorient this to reflect movement in the offense direction instead of the on-field coordinates (reorient the orgin from the bottom left to top right for a change in direction).

Let's make a practice dataFrame to figure this out.

In [94]:
df = pd.DataFrame({'x': [10,20,40,80], 'y': [10,20,40,80], 'playDirection': ["right", "left","right", "left"]})
df

    x   y playDirection
0  10  10         right
1  20  20          left
2  40  40         right
3  80  80          left

In [95]:
df.loc[df['playDirection']=='left','x'] = 120 - df.loc[df['playDirection']=='left','x']
df

     x   y playDirection
0   10  10         right
1  100  20          left
2   40  40         right
3   40  80          left

In [96]:
df.loc[df['playDirection'] == 'left', 'y'] = 160/3 - df.loc[df['playDirection']=='left','y']
df

     x          y playDirection
0   10  10.000000         right
1  100  33.333333          left
2   40  40.000000         right
3   40 -26.666667          left

Now we want to apply this to each of the actual dataFrames.

In [97]:
#2018 tracking data
track18.loc[track18['playDirection'] == 'left', 'x'] = 120 -track18.loc[track18['playDirection']=='left','x']
track18.loc[track18['playDirection'] == 'left', 'y'] = 160/3 -track18.loc[track18['playDirection']=='left','y']
#note that we have 160/3 for the y direction since the football field is 160ft, but our units are yards

#2019 tracking data
track19.loc[track19['playDirection'] == 'left', 'x'] = 120 -track19.loc[track19['playDirection']=='left','x']
track19.loc[track19['playDirection'] == 'left', 'y'] = 160/3 -track19.loc[track19['playDirection']=='left','y']

#2020 tracking data
track20.loc[track20['playDirection'] == 'left', 'x'] = 120 -track20.loc[track20['playDirection']=='left','x']
track20.loc[track20['playDirection'] == 'left', 'y'] = 160/3 -track20.loc[track20['playDirection']=='left','y']

print("2018:", track18)
print("2019:", track19)
print("2020:", track20)

2018:                              time       x      y     s     a   dis       o  \
0         2018-12-30T21:25:32.200   41.32  29.45  4.36  1.33  0.43  130.42
1         2018-12-30T21:25:32.300   41.68  29.17  4.59  1.24  0.45  128.59
2         2018-12-30T21:25:32.400   42.05  28.88  4.74  0.99  0.47  124.47
3         2018-12-30T21:25:32.500   42.43  28.59  4.87  0.71  0.48  126.02
4         2018-12-30T21:25:32.600   42.84  28.31  4.96  0.79  0.50  131.71
...                           ...     ...    ...   ...   ...   ...     ...
12777346  2018-09-11T05:25:17.800  123.18  51.73  3.76  1.45  0.29     NaN
12777347  2018-09-11T05:25:17.900  123.40  51.89  3.19  3.02  0.28     NaN
12777348  2018-09-11T05:25:18.000  123.55  52.18  2.95  3.88  0.32     NaN
12777349  2018-09-11T05:25:18.100  123.67  52.50  3.01  4.53  0.34     NaN
12777350  2018-09-11T05:25:18.200  123.74  52.81  3.03  3.97  0.32     NaN

             dir event    nflId    displayName  jerseyNumber position  \
0         128.44  None  39470.0  Justin Tucker           9.0        K
1         127.81  None  39470.0  Justin Tucker           9.0        K
2         128.15  None  39470.0  Justin Tucker           9.0        K
3         127.35  None  39470.0  Justin Tucker           9.0        K
4         124.75  None  39470.0  Justin Tucker           9.0        K
...          ...   ...      ...            ...           ...      ...
12777346     NaN  None      NaN       football           NaN      NaN
12777347     NaN  None      NaN       football           NaN      NaN
12777348     NaN  None      NaN       football           NaN      NaN
12777349     NaN  None      NaN       football           NaN      NaN
12777350     NaN  None      NaN       football           NaN      NaN

              team  frameId      gameId  playId playDirection
0             home        1  2018123000      36         right
1             home        2  2018123000      36         right
2             home        3  2018123000      36         right
3             home        4  2018123000      36         right
4             home        5  2018123000      36         right
...            ...      ...         ...     ...           ...
12777346  football       59  2018091001    4033         right
12777347  football       60  2018091001    4033         right
12777348  football       61  2018091001    4033         right
12777349  football       62  2018091001    4033         right
12777350  football       63  2018091001    4033         right

[12777351 rows x 18 columns]
2019:                              time       x      y     s     a   dis       o  \
0         2019-12-29T21:25:27.400   68.39  20.20  0.16  0.31  0.02  320.08
1         2019-12-29T21:25:27.500   68.38  20.21  0.16  0.28  0.02  321.66
2         2019-12-29T21:25:27.600   68.36  20.23  0.20  0.25  0.02  320.67
3         2019-12-29T21:25:27.700   68.34  20.25  0.27  0.20  0.03  303.02
4         2019-12-29T21:25:27.800   68.33  20.26  0.20  0.06  0.01  297.33
...                           ...     ...    ...   ...   ...   ...     ...
12170928  2019-09-10T05:02:46.600  115.84  31.60  5.96  0.48  0.80     NaN
12170929  2019-09-10T05:02:46.700  116.50  31.60  5.82  5.28  0.66     NaN
12170930  2019-09-10T05:02:46.800  117.20  31.61  5.49  7.63  0.70     NaN
12170931  2019-09-10T05:02:46.900  117.80  31.62  4.85  8.35  0.60     NaN
12170932  2019-09-10T05:02:47.000  118.33  31.63  4.15  8.09  0.53     NaN

             dir event    nflId     displayName  jerseyNumber position  \
0         322.40  None  36060.0  Anthony Levine          41.0       DB
1         309.87  None  36060.0  Anthony Levine          41.0       DB
2         301.01  None  36060.0  Anthony Levine          41.0       DB
3         311.86  None  36060.0  Anthony Levine          41.0       DB
4         308.72  None  36060.0  Anthony Levine          41.0       DB
...          ...   ...      ...             ...           ...      ...
12170928     NaN  None      NaN        football           NaN      NaN
12170929     NaN  None      NaN        football           NaN      NaN
12170930     NaN  None      NaN        football           NaN      NaN
12170931     NaN  None      NaN        football           NaN      NaN
12170932     NaN  None      NaN        football           NaN      NaN

              team  frameId      gameId  playId playDirection
0             home        1  2019122900      36         right
1             home        2  2019122900      36         right
2             home        3  2019122900      36         right
3             home        4  2019122900      36         right
4             home        5  2019122900      36         right
...            ...      ...         ...     ...           ...
12170928  football       58  2019090901    3554         right
12170929  football       59  2019090901    3554         right
12170930  football       60  2019090901    3554         right
12170931  football       61  2019090901    3554         right
12170932  football       62  2019090901    3554         right

[12170933 rows x 18 columns]
2020:                              time       x          y     s     a   dis  \
0         2021-01-03T18:03:02.200   58.79   6.563333  0.08  0.13  0.01
1         2021-01-03T18:03:02.300   58.78   6.563333  0.11  0.19  0.01
2         2021-01-03T18:03:02.400   58.77   6.573333  0.10  0.18  0.01
3         2021-01-03T18:03:02.500   58.76   6.573333  0.11  0.22  0.01
4         2021-01-03T18:03:02.600   58.75   6.573333  0.05  0.20  0.01
...                           ...     ...        ...   ...   ...   ...
11821696  2020-09-15T05:22:39.200  117.23  32.020000  1.13  0.85  0.12
11821697  2020-09-15T05:22:39.300  117.31  32.100000  1.17  0.86  0.12
11821698  2020-09-15T05:22:39.400  117.40  32.180000  1.14  0.62  0.11
11821699  2020-09-15T05:22:39.500  117.48  32.250000  1.05  0.43  0.11
11821700  2020-09-15T05:22:39.600  117.55  32.320000  1.01  0.44  0.10

               o     dir      event    nflId   displayName  jerseyNumber  \
0         186.21  144.73       None  42901.0  Dean Marlowe          31.0
1         184.87  126.09       None  42901.0  Dean Marlowe          31.0
2         183.38  108.95       None  42901.0  Dean Marlowe          31.0
3         180.24   91.57       None  42901.0  Dean Marlowe          31.0
4         172.44  119.91       None  42901.0  Dean Marlowe          31.0
...          ...     ...        ...      ...           ...           ...
11821696     NaN     NaN       None      NaN      football           NaN
11821697     NaN     NaN       None      NaN      football           NaN
11821698     NaN     NaN  touchback      NaN      football           NaN
11821699     NaN     NaN       None      NaN      football           NaN
11821700     NaN     NaN       None      NaN      football           NaN

         position      team  frameId      gameId  playId playDirection
0              SS      home        1  2021010300      40          left
1              SS      home        2  2021010300      40          left
2              SS      home        3  2021010300      40          left
3              SS      home        4  2021010300      40          left
4              SS      home        5  2021010300      40          left
...           ...       ...      ...         ...     ...           ...
11821696      NaN  football       81  2020091401    4280         right
11821697      NaN  football       82  2020091401    4280         right
11821698      NaN  football       83  2020091401    4280         right
11821699      NaN  football       84  2020091401    4280         right
11821700      NaN  football       85  2020091401    4280         right

[11821701 rows x 18 columns]

We can also divide up our play data into multiple dataframes based on `specialTeamsPlayType`.

In [ ]:
#kickoffs
play_kickoff = play.loc[play['specialTeamsPlayType']=='Kickoff']

#punts
df_punt=df.loc[df['specialTeamsPlayType']=='Punt']

#field
df_fieldgoal=df.loc[df['specialTeamsPlayType']=='Field Goal']